@model string

<footer class="border-top footer text-muted position-absolute w-100 ps-5 bottom-0">
    <div class="h-100 align-content-center">
        &copy; 2024 - UTC - Bùi Việt Đức - 5232092 - @Model
    </div>
</footer>