<div class="sidebar bg-dark">
    <h5 class="text-white">Management System</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">Student List</a>
        </li>
    </ul>
</div>