<div class="sidebar bg-dark">
    <h5 class="text-white">Management System</h5>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Student" asp-action="Index">Student List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Learner" asp-action="Index">Learner List</a>
        </li>
    </ul>
</div>