@model IEnumerable<MenuItem>

<div class="sidebar bg-dark">
    <h5 class="text-white">Management System</h5>
    <ul class="nav flex-column">
        @foreach(var menuItem in Model)
        {
            @if (menuItem.Name=="Learners")
            {
                <li class="nav-item">
                    <a class="nav-link" href="@menuItem.Link">@menuItem.Name</a>
                </li>
                @await Component.InvokeAsync("Major")
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@menuItem.Link">@menuItem.Name</a>
                </li> 
            }
        }
    </ul>
</div>
