@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bùi Việt Đức</h1>
    <h2 class="display-4">5232092</h2>
    <br />
    <h2>Go to <a href="/admin/students/list">Lab</a></h2>
</div>
