@{
    ViewData["Title"] = "Add Student";
}
@model Student

<div class="d-flex d-flex flex-column">
    <h1>Thêm sinh viên</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Student" asp-action="Create" method="post" enctype="multipart/form-data" class="mt-3">
        <table class="table table-borderless w-75">
            <tbody>
                <tr>
                    <th class="col-sm-2">Ảnh đại diện</th>
                    <td>
                        <input type="file" asp-for="ProfileImage" class="form-control" />
                        <span asp-validation-for="ProfileImage" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Họ tên</th>
                    <td>
                        <input asp-for="Name" class="form-control" placeholder="Họ tên" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Email</th>
                    <td>
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Mật khẩu</th>
                    <td>
                        <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Ngành học</th>
                    <td>
                        <select asp-for="Branch" class="custom-select mr-sm-2"
                                asp-items="Html.GetEnumSelectList<Branch>()"></select>
                        <span asp-validation-for="Branch" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <label class="form-check-label">
                            <input asp-for="IsRegular" class="custom-control-input" type="checkbox" />
                            Chính quy
                        </label>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Ngày sinh</th>
                    <td>
                        <input asp-for="DateOfBirth" class="form-control" placeholder="Ngày sinh" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th class="align-middle">Giới tính</th>
                    <td>
                        @foreach (var gender in ViewBag.AllGenders)
                        {
                            <label class="radio-inline">
                                <input type="radio" asp-for="Gender" value="@gender"
                                       id="Gender@(gender)" />@gender<br />
                            </label>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Địa chỉ</th>
                    <td>
                        <textarea asp-for="Address" class="form-control" placeholder="Địa chỉ"></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th>Điểm</th>
                    <td>
                        <input asp-for="Score" class="form-control" placeholder="Điểm" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
